@import "../settings/variables";

.footer {
  background-color: #F7F7F7;
  width: 100vw;
  box-shadow: 0 -0.5rem 4rem #00000029;

  .footer__limiter {
    height: 8.9rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1.7rem;
    padding-right: 3rem;
    margin-top: 1rem;

    .content__logo {
      @include Raleway(300, 2.6rem, 3rem);
      color: $base-color-blue;
    }

    .content__description {
      @include OpenSans(400, 1.1rem, 1.5rem);
      color: #A5A5A5;
    }

    .footer__icons {

      .icon__fb {
        margin-left: 1.6rem;
      }
    }
  }
}